.contenedorFooter{
    margin-top: 10px;
    background: linear-gradient(#0a6fbd, #0c4c80); 
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
}
.contenedorFooter section{
    margin-left: 10px;
    text-align: center;
}